In [6]:
import pandas as pd

In [3]:
ptsd_df= pd.read_csv("SORTED_PTSD_EA9_AA7_LA1_SA2_ALL_study_specific_PCs1.txt", sep='\t')

In [4]:
ptsd_df

,MarkerName,Allele1,Allele2,Effect,StdErr,P-value,Direction
0,rs7400289,t,c,-0.2852,0.0525,5.491000e-08,+------?-+-----?+--
1,rs75117028,a,c,-0.3974,0.0744,9.088000e-08,+------?--+----?+++
2,chr13_70628410_D,d,i5,0.6437,0.1215,1.163000e-07,?????????-+++++??+-
3,rs149585529,a,g,0.6425,0.1215,1.242000e-07,?????????-+++++??+-
4,rs139558732,t,c,0.7161,0.1357,1.305000e-07,??????????+++++??+-
...,...,...,...,...,...,...,...
25473722,rs9962851,c,g,0.0000,0.0262,1.000000e+00,+--+-+++-+++----++-
25473723,rs9963321,t,c,0.0000,0.0965,1.000000e+00,?????????----+-+?+-
25473724,rs9973857,t,c,0.0000,0.0267,1.000000e+00,-++-+++--------++-+
25473725,rs9979848,a,g,-0.0000,0.0469,1.000000e+00,---++-+?+++-+--?-+-
25473726,rs9994467,a,g,0.0000,0.0519,1.000000e+00,-+--++-?-+--++-?--+

In [5]:
ptsd_df_filt= ptsd_df.loc[ptsd_df['P-value']<=5e-7]

In [6]:
ptsd_df_filt

,MarkerName,Allele1,Allele2,Effect,StdErr,P-value,Direction
0,rs7400289,t,c,-0.2852,0.0525,5.491000e-08,+------?-+-----?+--
1,rs75117028,a,c,-0.3974,0.0744,9.088000e-08,+------?--+----?+++
2,chr13_70628410_D,d,i5,0.6437,0.1215,1.163000e-07,?????????-+++++??+-
3,rs149585529,a,g,0.6425,0.1215,1.242000e-07,?????????-+++++??+-
4,rs139558732,t,c,0.7161,0.1357,1.305000e-07,??????????+++++??+-
5,rs190485314,t,c,-2.5951,0.5007,2.189000e-07,-???????????????-??
6,rs75169709,t,c,-0.4419,0.0854,2.262000e-07,?????????------??-+
7,rs78516857,a,g,-0.4419,0.0854,2.263000e-07,?????????------??-+
8,rs6673056,t,g,0.4410,0.0853,2.370000e-07,?????????++++++??+-
9,chr1_182409244_D,d,i4,0.5358,0.1048,3.166000e-07,+++++++??+++++-?+--
10,rs138517393,t,c,1.0194,0.1999,3.411000e-07,++++++-????????????
11,rs139069151,a,c,0.6037,0.1186,3.543000e-07,?????????-+++++??+-
12,rs78664956,t,c,-0.5192,0.1020,3.584000e-07,?????????------??-+
13,rs137980833,t,c,1.0803,0.2141,4.506000e-07,?????????-+?+++??++

In [8]:
import math

ptsd_df_filt['Possible Odds Ratio']= ptsd_df_filt.apply(lambda x: math.exp(x['Effect']), axis=1)

<ipython-input-8-9b395ebc31fe>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ptsd_df_filt['Possible Odds Ratio']= ptsd_df_filt.apply(lambda x: math.exp(x['Effect']), axis=1)

In [9]:
ptsd_df_filt

,MarkerName,Allele1,Allele2,Effect,StdErr,P-value,Direction,Possible Odds Ratio
0,rs7400289,t,c,-0.2852,0.0525,5.491000e-08,+------?-+-----?+--,0.751864
1,rs75117028,a,c,-0.3974,0.0744,9.088000e-08,+------?--+----?+++,0.672065
2,chr13_70628410_D,d,i5,0.6437,0.1215,1.163000e-07,?????????-+++++??+-,1.903511
3,rs149585529,a,g,0.6425,0.1215,1.242000e-07,?????????-+++++??+-,1.901228
4,rs139558732,t,c,0.7161,0.1357,1.305000e-07,??????????+++++??+-,2.046437
5,rs190485314,t,c,-2.5951,0.5007,2.189000e-07,-???????????????-??,0.074638
6,rs75169709,t,c,-0.4419,0.0854,2.262000e-07,?????????------??-+,0.642814
7,rs78516857,a,g,-0.4419,0.0854,2.263000e-07,?????????------??-+,0.642814
8,rs6673056,t,g,0.4410,0.0853,2.370000e-07,?????????++++++??+-,1.554261
9,chr1_182409244_D,d,i4,0.5358,0.1048,3.166000e-07,+++++++??+++++-?+--,1.708815
10,rs138517393,t,c,1.0194,0.1999,3.411000e-07,++++++-????????????,2.771531
11,rs139069151,a,c,0.6037,0.1186,3.543000e-07,?????????-+++++??+-,1.828873
12,rs78664956,t,c,-0.5192,0.1020,3.584000e-07,?????????------??-+,0.594996
13,rs137980833,t,c,1.0803,0.2141,4.506000e-07,?????????-+?+++??++,2.945563

In [57]:
schizophrenia_df = pd.read_csv("daner_natgen_eas_eur_autosomes", sep='\t')

In [11]:
schizophrenia_df

,CHR,SNP,BP,A1,A2,FRQ_A_56418,FRQ_U_78818,INFO,OR,SE,P,ngt,Direction,HetISqt,HetDf,HetPVa,Nca,Nco,Neff
0,8,rs62513865,101592213,T,C,0.0716,0.0750,0.956,0.98167,0.0213,0.38510,0,-???????,0.0,0,1.0000,33640,43456,37923.10
1,8,rs73696507,105231413,T,C,0.9590,0.9600,0.998,1.00975,0.0426,0.82000,0,++--????,3.9,3,0.3733,14583,17261,15712.17
2,8,rs79643588,106973048,A,G,0.0713,0.0743,0.990,0.98531,0.0185,0.42370,0,-???????,0.0,0,1.0000,46945,59700,52551.45
3,8,rs6994300,102569817,A,G,0.0666,0.0664,0.878,0.99392,0.0373,0.86990,0,---+????,0.0,3,0.5146,14583,17261,15712.17
4,8,rs17396518,108690829,T,G,0.4890,0.4910,0.981,1.00682,0.0094,0.47210,16,++++????,0.0,3,0.4339,48223,60717,53635.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13558618,20,rs148755306,47231076,A,G,0.0154,0.0221,0.869,0.63021,0.3471,0.18350,0,-???????,0.0,0,1.0000,13305,16244,14628.34
13558619,20,rs117705259,46761380,A,G,0.0154,0.0152,0.968,1.02655,0.0463,0.57140,0,+???????,0.0,0,1.0000,33640,43456,37923.10
13558620,20,rs6017602,44168957,T,C,0.0432,0.0396,0.995,1.09385,0.0425,0.03472,5,++--????,0.0,3,0.6503,14583,17261,15712.17
13558621,20,rs144166091,45724327,T,C,0.9860,0.9870,0.804,0.96435,0.0536,0.49820,0,-???????,0.0,0,1.0000,33640,43456,37923.10
13558622,20,rs1111021,42747689,T,C,0.2790,0.2810,0.982,0.99233,0.0103,0.45640,1,-++-????,24.5,3,0.2644,48223,60717,53635.28

In [14]:
schizophrenia_df.sort_values('P',ascending= False)

,CHR,SNP,BP,A1,A2,FRQ_A_56418,FRQ_U_78818,INFO,OR,SE,P,ngt,Direction,HetISqt,HetDf,HetPVa,Nca,Nco,Neff
10893042,5,rs139936287m,65608563,GA,G,0.7550,0.7520,0.955,1.00000,0.0113,1.000000e+00,0,0???????,0.0,0,1.00000,46945,59700,52551.45
1051465,1,rs6683651,165647480,A,G,0.3620,0.3670,0.993,1.00000,0.0098,1.000000e+00,0,+---????,0.0,3,0.81800,48223,60717,53635.28
6069878,9,rs2456264,76258129,T,C,0.9730,0.9740,0.998,1.00000,0.0340,1.000000e+00,13,0???????,0.0,0,1.00000,33640,43456,37923.10
5186828,3,rs138551372,185446099,T,C,0.0353,0.0345,0.956,1.00000,0.0302,1.000000e+00,0,0???????,0.0,0,1.00000,33640,43456,37923.10
1910020,8,rs9650569,141141753,T,C,0.0412,0.0410,0.883,1.00000,0.0289,1.000000e+00,0,0???????,0.0,0,1.00000,33640,43456,37923.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4564112,6,rs28360634,27332891,T,C,0.9450,0.9330,0.999,1.24197,0.0199,1.061000e-27,0,+-+?????,0.0,2,0.74500,47536,60225,53061.91
4597781,6,rs34724414,28619353,A,G,0.9250,0.9110,1.010,1.24222,0.0198,6.319000e-28,1,+???????,0.0,0,1.00000,33640,43456,37923.10
4535270,6,rs13194504,28630691,A,G,0.0749,0.0889,1.010,0.80413,0.0198,3.427000e-28,27,-???????,0.0,0,1.00000,33640,43456,37923.10
4553055,6,rs1233578,28712247,A,G,0.9030,0.8910,0.984,1.18022,0.0148,3.189000e-29,6,+-+-++-?,57.8,6,0.02737,51274,64443,56864.72
4587237,6,rs9257566,29144532,T,C,0.0685,0.0811,0.913,0.81448,0.0181,7.263000e-30,0,-??+????,0.0,1,0.52080,47632,60192,53124.82

In [17]:
schizo_df_filt= schizophrenia_df.loc[schizophrenia_df['P']<=5e-8]

In [18]:
schizo_df_filt

,CHR,SNP,BP,A1,A2,FRQ_A_56418,FRQ_U_78818,INFO,OR,SE,P,ngt,Direction,HetISqt,HetDf,HetPVa,Nca,Nco,Neff
379,8,rs1434281,103671080,A,G,0.344,0.399,0.957,0.94810,0.0095,1.705000e-08,0,-+----+-,0.0,7,0.573300,56418,78818,64441.44
42353,8,rs4734654,103669991,A,G,0.656,0.601,0.959,1.05443,0.0094,1.503000e-08,24,+-++++-+,0.0,7,0.566500,56418,78818,64441.44
99597,16,rs4949087,64333546,A,G,0.354,0.393,0.958,0.95037,0.0090,1.372000e-08,0,--+-++--,64.7,7,0.005922,56418,78818,64441.44
99851,16,rs34707355,64375453,T,C,0.357,0.396,0.954,0.94743,0.0092,5.164000e-09,0,--+-++--,67.4,7,0.003126,56418,78818,64441.44
100535,16,rs9933980,64370514,T,G,0.356,0.396,0.957,0.94810,0.0090,2.986000e-09,1,--+-++--,65.8,7,0.004638,56418,78818,64441.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13394708,2,rs3736594,27995781,A,C,0.380,0.386,0.964,0.94667,0.0093,3.374000e-09,30,----+---,0.0,7,0.682300,56418,78818,64441.44
13531911,20,rs495146,48130328,T,C,0.303,0.341,0.961,1.05496,0.0098,4.319000e-08,38,++++--++,28.6,7,0.200200,56418,78818,64441.44
13534498,20,rs7267348,48131036,T,C,0.703,0.663,0.961,0.94734,0.0099,3.981000e-08,1,----++--,32.0,7,0.172800,56418,78818,64441.44
13535893,20,rs6019879,48130628,T,C,0.703,0.663,0.961,0.94753,0.0098,4.526000e-08,18,----++--,32.2,7,0.170600,56418,78818,64441.44
13537154,20,rs7271624,48129169,C,G,0.741,0.753,0.997,0.94374,0.0105,3.416000e-08,20,----????,0.0,3,0.809700,48223,60717,53635.28

In [32]:
schizo_df_filt.sort_values('OR',ascending= False)

,CHR,SNP,BP,A1,A2,FRQ_A_56418,FRQ_U_78818,INFO,OR,SE,P,ngt,Direction,HetISqt,HetDf,HetPVa,Nca,Nco,Neff
4553688,6,chr6:26518757,26518757,A,T,0.99300,0.9910,0.442,1.78229,0.1005,8.912000e-09,0,+???????,0.0,0,1.0,33640,43456,37923.10
4584146,6,rs114476648,27633802,T,C,0.98100,0.9790,0.446,1.50606,0.0560,2.623000e-13,0,+???????,0.0,0,1.0,46945,59700,52551.45
4802236,6,chr6:30332254,30332254,T,C,0.97300,0.9700,0.481,1.37355,0.0465,8.745000e-12,0,+???????,0.0,0,1.0,33640,43456,37923.10
4565589,6,rs71559051,27799470,A,G,0.94500,0.9350,0.758,1.30918,0.0263,1.267000e-24,0,+???????,0.0,0,1.0,33640,43456,37923.10
4559282,6,rs113780580,27555056,A,AACAC,0.94100,0.9300,0.861,1.27813,0.0240,1.534000e-24,0,+???????,0.0,0,1.0,33640,43456,37923.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4553584,6,rs71557345,26680698,A,G,0.06170,0.0734,0.903,0.78671,0.0229,1.116000e-25,0,-???????,0.0,0,1.0,33640,43456,37923.10
4537686,6,rs192804591,27729706,A,T,0.06370,0.0756,0.866,0.78568,0.0230,9.891000e-26,0,-???????,0.0,0,1.0,33640,43456,37923.10
4543692,6,rs35202262,27799514,T,C,0.06460,0.0766,0.882,0.78553,0.0227,2.066000e-26,0,-???????,0.0,0,1.0,33640,43456,37923.10
4597569,6,chr6:27244243,27244243,T,C,0.02760,0.0311,0.475,0.75828,0.0432,1.502000e-10,0,-???????,0.0,0,1.0,46945,59700,52551.45
4763487,6,rs114486118,30346826,T,C,0.00894,0.0104,0.235,0.50535,0.1221,2.274000e-08,0,-???????,0.0,0,1.0,33640,43456,37923.10

In [20]:
schizo_df_filt.head(30)

,CHR,SNP,BP,A1,A2,FRQ_A_56418,FRQ_U_78818,INFO,OR,SE,P,ngt,Direction,HetISqt,HetDf,HetPVa,Nca,Nco,Neff
379,8,rs1434281,103671080,A,G,0.344,0.399,0.957,0.94810,0.0095,1.705000e-08,0,-+----+-,0.0,7,0.573300,56418,78818,64441.44
42353,8,rs4734654,103669991,A,G,0.656,0.601,0.959,1.05443,0.0094,1.503000e-08,24,+-++++-+,0.0,7,0.566500,56418,78818,64441.44
99597,16,rs4949087,64333546,A,G,0.354,0.393,0.958,0.95037,0.0090,1.372000e-08,0,--+-++--,64.7,7,0.005922,56418,78818,64441.44
99851,16,rs34707355,64375453,T,C,0.357,0.396,0.954,0.94743,0.0092,5.164000e-09,0,--+-++--,67.4,7,0.003126,56418,78818,64441.44
100535,16,rs9933980,64370514,T,G,0.356,0.396,0.957,0.94810,0.0090,2.986000e-09,1,--+-++--,65.8,7,0.004638,56418,78818,64441.44
101159,16,rs9934855,64326532,T,C,0.646,0.607,0.957,1.05243,0.0090,1.285000e-08,15,++-+--++,63.4,7,0.007763,56418,78818,64441.44
101491,16,rs2917691,64297994,T,C,0.570,0.553,0.959,1.04970,0.0086,1.634000e-08,0,++-+---+,66.8,7,0.003610,56418,78818,64441.44
101607,16,rs2917690,64297917,T,G,0.428,0.445,0.956,0.95266,0.0086,1.713000e-08,0,--+-+++-,65.9,7,0.004527,56418,78818,64441.44
101648,16,rs2917695,64299409,C,G,0.584,0.571,0.995,1.05232,0.0093,4.129000e-08,0,++-+????,69.2,3,0.020900,48223,60717,53635.28
102242,16,rs11643828,64349345,A,T,0.325,0.339,0.994,0.94374,0.0097,2.437000e-09,0,--+-????,63.3,3,0.042680,48223,60717,53635.28
103280,16,rs12930453,64315466,C,G,0.322,0.335,0.990,0.94554,0.0097,8.075000e-09,0,--+-????,62.6,3,0.045420,48223,60717,53635.28
103838,16,rs2917701,64302367,A,T,0.584,0.571,0.996,1.05211,0.0092,3.341000e-08,14,++-+????,67.6,3,0.026080,48223,60717,53635.28
103856,16,rs2319807,64301371,T,C,0.570,0.553,0.959,1.04938,0.0086,2.025000e-08,0,++-+---+,66.2,7,0.004236,56418,78818,64441.44
104002,16,rs2917689,64297905,T,C,0.571,0.554,0.957,1.04949,0.0086,1.845000e-08,0,++-+---+,65.8,7,0.004628,56418,78818,64441.44
104368,16,rs6498941,64329023,T,C,0.355,0.394,0.957,0.95009,0.0092,2.928000e-08,1,--+-++--,64.1,7,0.006824,56418,78818,64441.44
104559,16,rs9935149,64322807,A,C,0.355,0.394,0.956,0.94990,0.0090,1.031000e-08,0,--+-++--,62.5,7,0.009374,56418,78818,64441.44
104977,16,rs4949070,64333189,C,G,0.680,0.666,0.992,1.05792,0.0098,9.411000e-09,0,++-+????,65.7,3,0.033030,48223,60717,53635.28
105085,16,rs1837017,64298158,T,C,0.430,0.447,0.959,0.95256,0.0086,1.571000e-08,0,--+-+++-,66.9,7,0.003515,56418,78818,64441.44
105567,16,rs2967190,64298669,A,G,0.430,0.447,0.959,0.95266,0.0086,1.654000e-08,0,--+-+++-,66.8,7,0.003681,56418,78818,64441.44
105603,16,rs2319786,64373673,T,G,0.356,0.396,0.955,0.94819,0.0092,8.315000e-09,0,--+-++--,66.5,7,0.003935,56418,78818,64441.44
105688,16,rs1074652,64372426,T,C,0.358,0.397,0.951,0.94781,0.0092,6.631000e-09,0,--+-++--,64.2,7,0.006597,56418,78818,64441.44
106239,16,rs5817454m,64344770,T,TG,0.671,0.658,0.945,1.05813,0.0100,1.601000e-08,0,+???????,0.0,0,1.000000,46945,59700,52551.45
106544,16,rs1437146,64346816,A,G,0.644,0.604,0.959,1.05401,0.0090,4.425000e-09,1,++-+--++,66.6,7,0.003876,56418,78818,64441.44
108378,16,rs4949071,64333364,T,C,0.354,0.393,0.958,0.95047,0.0090,1.556000e-08,0,--+-++--,64.7,7,0.005930,56418,78818,64441.44
108524,16,rs2917685,64296852,T,C,0.429,0.446,0.957,0.95294,0.0086,2.047000e-08,0,--+-+++-,66.8,7,0.003639,56418,78818,64441.44
108633,16,rs2917704,64305723,A,G,0.570,0.554,0.954,1.05001,0.0086,1.402000e-08,0,++-+---+,66.9,7,0.003534,56418,78818,64441.44
110181,16,rs2967185,64302814,T,C,0.430,0.447,0.960,0.95294,0.0085,1.499000e-08,0,--+-+++-,65.7,7,0.004782,56418,78818,64441.44
110426,16,rs9940363,64330132,T,C,0.355,0.393,0.957,0.95018,0.0090,1.302000e-08,0,--+-++--,64.4,7,0.006345,56418,78818,64441.44
110490,16,rs1583582,64304439,A,C,0.570,0.553,0.957,1.04959,0.0086,1.797000e-08,0,++-+---+,66.8,7,0.003610,56418,78818,64441.44
110788,16,rs34570689,64358287,A,T,0.666,0.651,0.993,1.05887,0.0096,2.617000e-09,0,++-+????,62.0,3,0.048050,48223,60717,53635.28

In [24]:
schizo_df_filt[schizo_df_filt['SNP']=="rs6461049"]

,CHR,SNP,BP,A1,A2,FRQ_A_56418,FRQ_U_78818,INFO,OR,SE,P,ngt,Direction,HetISqt,HetDf,HetPVa,Nca,Nco,Neff
3061760,7,rs6461049,2017445,T,C,0.542,0.536,0.961,1.07691,0.0088,2.582000e-17,22,++-+++++,0.0,7,0.6336,56418,78818,64441.44

In [27]:
schizo_snps= pd.read_csv("schizophrenia_snps.txt", sep='\t', names=['SNP'])

In [28]:
schizo_snps

           SNP
0    rs6461049
1    rs7085104
2    rs1198588
3    rs1006737
4   rs17691888
5    rs4129585
6   rs10789369
7     rs794086
8     rs290542
9    rs2373000
10   rs6878284
11   rs4687552
12  rs12991836
13   rs2949006
14   rs4801131
15    rs778371
16     rs14403
17  rs11532322
18   rs1538774
19  rs11995572
20    rs171748
21   rs2910032

In [30]:
schizo_df_final= schizo_df_filt.merge(schizo_snps, on="SNP")

In [58]:
schizo_df_final.sort_values('CHR',ascending=True)

In [26]:
%%bash

#awk '$2 == "rs121907970" {print $2}' 1000Genomes/ALL.chr15.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz
#bgzip -d /datasets/cs284-sp21-A00-public/1000Genomes/ALL.chr15.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz -c > ~/teams/CSE284_SP21_A00/team13/chr15.vcf
bcftools view --include ID==@ts_snps.list chr15.vcf| cut -f 1-4

##/rs387906309//rs147324677//rs76173977//rs138058578//rs121907970/

Process is interrupted.

In [13]:
#vcf_df = pd.read_csv("1000Genomes/ALL.chr15.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz", sep='\t', error_bad_lines=False)

# import os
# filename = "1000Genomes/ALL.chr15.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz"
# lines_number = sum(1 for line in open(filename))
# lines_in_chunk = 200
# counter = 0
# completed = 0
# reader = pd.read_csv(filename, chunksize=lines_in_chunk, sep='\t', error_bad_lines=False )
# for chunk in reader:
#     # < ... reading the chunk somehow... >
#     # showing progress:
#     counter += lines_in_chunk
#     new_completed = int(round(float(counter)/lines_number * 100))
#     if (new_completed > completed): 
#         completed = new_completed
#         print("Completed", completed, "%")

In [33]:
chr15_df = pd.read_csv("chr15_HG00379_HG00155.txt", sep='\t', error_bad_lines=False, skiprows=2, names=['CHROM', 'SNP', 'REF', 'ALT', 'PARENT1', 'PARENT2', 'USELESS', 'CHILD'] )

In [34]:
chr15_df

        CHROM          SNP   REF ALT PARENT1 PARENT2  USELESS CHILD
15   20000041  rs371549847     T   A     0|0     0|0      NaN   0|0
15   20000075  rs565090028     C   T     0|0     0|0      NaN   0|0
15   20000114  rs201219124     G   T     0|0     0|0      NaN   0|0
15   20000123  rs373298708     T   C     0|0     0|0      NaN   0|0
15   20000127  rs560310552     A   T     0|0     0|0      NaN   0|0
..        ...          ...   ...  ..     ...     ...      ...   ...
15  102520995  rs543980749    CG   C     0|0     0|0      NaN   0|0
15  102521010  rs533757656     G   C     0|0     0|0      NaN   0|0
15  102521041  rs548966424     A   G     0|0     0|0      NaN   0|0
15  102521057  rs567278523     G   C     0|0     0|0      NaN   0|0
15  102521131  rs141255594  GGTT   G     0|1     0|1      NaN   1|1

[2424689 rows x 8 columns]

In [37]:
chr15_df = chr15_df.drop('USELESS', axis=1)

        CHROM          SNP   REF ALT PARENT1 PARENT2 CHILD
15   20000041  rs371549847     T   A     0|0     0|0   0|0
15   20000075  rs565090028     C   T     0|0     0|0   0|0
15   20000114  rs201219124     G   T     0|0     0|0   0|0
15   20000123  rs373298708     T   C     0|0     0|0   0|0
15   20000127  rs560310552     A   T     0|0     0|0   0|0
..        ...          ...   ...  ..     ...     ...   ...
15  102520995  rs543980749    CG   C     0|0     0|0   0|0
15  102521010  rs533757656     G   C     0|0     0|0   0|0
15  102521041  rs548966424     A   G     0|0     0|0   0|0
15  102521057  rs567278523     G   C     0|0     0|0   0|0
15  102521131  rs141255594  GGTT   G     0|1     0|1   1|1

[2424689 rows x 7 columns]

In [47]:
ts_snp = chr15_df.loc[chr15_df['SNP']=="rs76173977"]

In [48]:
ts_snp

       CHROM         SNP REF ALT PARENT1 PARENT2  USELESS CHILD
15  72640388  rs76173977   C   T     0|0     0|0      NaN   0|0

In [42]:

chr17_df = pd.read_csv("chr17_HG00379_HG00155.txt", sep='\t', error_bad_lines=False, skiprows=2, names=['CHROM', 'SNP', 'REF', 'ALT', 'PARENT1', 'PARENT2', 'USELESS', 'CHILD'] )
chr17_df = chr17_df.drop('USELESS', axis=1)
adhd_snp = chr17_df.loc[chr17_df['SNP']=="rs8079781"]
adhd_snp

       CHROM        SNP REF ALT PARENT1 PARENT2 CHILD
17  79050148  rs8079781   C   T     0|1     0|0   0|0

In [54]:
chr22_df = pd.read_csv("chr22_HG00379_HG00155.txt", sep='\t', error_bad_lines=False, skiprows=2, names=['CHROM', 'SNP', 'REF', 'ALT', 'PARENT1', 'PARENT2', 'USELESS', 'CHILD'] )
chr22_df = chr22_df.drop('USELESS', axis=1)
neuro_snp = chr22_df.loc[chr22_df['SNP']=="rs189150283"]
neuro_snp

Empty DataFrame
Columns: [CHROM, SNP, REF, ALT, PARENT1, PARENT2, CHILD]
Index: []

In [55]:
chr1_df = pd.read_csv("chr1_HG00379_HG00155.txt", sep='\t', error_bad_lines=False, skiprows=2, names=['CHROM', 'SNP', 'REF', 'ALT', 'PARENT1', 'PARENT2', 'USELESS', 'CHILD'] )
chr1_df = chr1_df.drop('USELESS', axis=1)
neuro_snp = chr1_df.loc[chr1_df['SNP']=="rs4660761"]
neuro_snp

      CHROM        SNP REF ALT PARENT1 PARENT2 CHILD
1  44440146  rs4660761   G   A     0|1     1|1   0|1

In [65]:
chr15_df = pd.read_csv("chr15_HG00379_HG00155.txt", sep='\t', error_bad_lines=False, skiprows=2, names=['CHROM','BP', 'SNP', 'REF', 'ALT', 'PARENT1', 'PARENT2', 'USELESS', 'CHILD','EXTRA'], index_col=False )

In [66]:
chr15_df

,CHROM,BP,SNP,REF,ALT,PARENT1,PARENT2,USELESS,CHILD,EXTRA
0,15,20000041,rs371549847,T,A,0|0,0|0,NaN,0|0,NaN
1,15,20000075,rs565090028,C,T,0|0,0|0,NaN,0|0,NaN
2,15,20000114,rs201219124,G,T,0|0,0|0,NaN,0|0,NaN
3,15,20000123,rs373298708,T,C,0|0,0|0,NaN,0|0,NaN
4,15,20000127,rs560310552,A,T,0|0,0|0,NaN,0|0,NaN
...,...,...,...,...,...,...,...,...,...,...
2424684,15,102520995,rs543980749,CG,C,0|0,0|0,NaN,0|0,NaN
2424685,15,102521010,rs533757656,G,C,0|0,0|0,NaN,0|0,NaN
2424686,15,102521041,rs548966424,A,G,0|0,0|0,NaN,0|0,NaN
2424687,15,102521057,rs567278523,G,C,0|0,0|0,NaN,0|0,NaN
2424688,15,102521131,rs141255594,GGTT,G,0|1,0|1,NaN,1|1,NaN